
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 Sayfa bulunamadı</title>
  

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">


    <link type="text/css" rel="stylesheet" href="~/Template/Colorlib-error-404-10/css/style.css" />


</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>404 - Sayfa Bulunamadı</h2>
            <p>Muhtemelen yanlış yoldasın. Olsun nereden dönsek kârdır.</p>
            <a href="/Heading/Index/">Anasayfa</a>
        </div>
    </div>

</body>

</html>
